@font-face {
 	font-family: "Coolveticarg";
    src: url('../font/coolveticarg.ttf');
 }

@font-face {
 	font-family: "ReitamRegular";
    src: url('../font/ReitamRegular.otf');
 }

@font-face {
 	font-family: "CaviarDreams";
    src: url('../font/CaviarDreams.ttf');
 }


